<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="yang.shuai.ysservice.mapper.UserMapper">
    <select id="Sel" parameterType="int" resultType="yang.shuai.ysservice.dao.User">
        select *
        from bingo_user
        <if test="id>=0">
            where id = #{id}
        </if>
    </select>
</mapper>
